.questions-container {
    width: 500px;
    padding: 32px;
    border-radius: 16px;
    background-color: #8435d3;
    text-align: center;

    h2 { margin-bottom: 32px }

    p { margin-bottom: 16px }

    img { margin-top: 32px }

    .btn { border: 2px solid #FFF }
}